
.l-grid-mask {
    display: none;
    font-size: 1px;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9000;
}
.l-panel {
    border: 1px solid #84A0C4;
    position: relative;
    text-align: left;
}
.l-panel table {
    width: auto;
}
.l-panel table, .l-panel td {
    margin: 0;
    padding: 0;
}
.l-panel-btn {
    color: #2C4D79;
    cursor: pointer;
    display: block;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.l-panel-btn .l-panel-btn-l, .l-panel-btn .l-panel-btn-r {
    display: none;
}
.l-panel-btn-over, .l-panel-btn-selected {
    background: url("../images/panel/panel-btn.gif") repeat-x scroll 0 0 #E0EDFF;
}
.l-panel-btn-over .l-panel-btn-l, .l-panel-btn-over .l-panel-btn-r, .l-panel-btn-selected .l-panel-btn-l, .l-panel-btn-selected .l-panel-btn-r {
    display: block;
}
.l-panel-btn-l {
    background: url("../images/panel/panel-btn-l.gif") no-repeat scroll 0 0 #E0EDFF;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}
.l-panel-btn-r {
    background: url("../images/panel/panel-btn-r.gif") no-repeat scroll 0 0 #E0EDFF;
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
}
.l-panel-header {
    background: url("../images/panel/header-bg.gif") repeat-x scroll left -1px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #99BBE8;
    color: #15428B;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    position: relative;
}
.l-panel-header-hasicon {
    padding-left: 13px;
}
.l-panel-header img {
    border: 0 none;
    height: 16px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 16px;
}
.l-panel-header-text {
    line-height: 22px;
    padding-left: 10px;
}
.l-panel-body {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.l-panel-body .l-grid {
}
.l-grid {
    position: relative;
    text-align: left;
}
.l-grid td div {
    font-size: 12px;
}
.l-grid table {
    border-spacing: 0;
}
.l-grid-header {
    background: url("../images/grid/header-bg.gif") repeat-x scroll left bottom #E2F0FF;
    border-bottom: 1px solid #A3C0E8;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    width: 100%;
}
.l-grid-scroller {
    height: 220px;
    left: 0;
    overflow: auto;
    position: relative;
    top: 0;
}
.l-grid-scroller-noscroll {
    height: auto;
    overflow: hidden;
}
.l-grid-body {
    left: 0;
    overflow: auto;
    position: relative;
    top: 0;
    width: 100%;
}
.l-grid-body-table {
}
.l-grid-body-table tr.l-checked td {
    background: none repeat scroll 0 0 #DCF8A8;
}
.l-grid-popup {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/grid/popup-line.gif") repeat-y scroll -1px top #EEEEEE;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left: 0;
    overflow: auto;
    position: absolute;
    z-index: 999;
}
.l-grid-loading {
    background: url("../images/common/loading.gif") no-repeat scroll 8px 6px #FFFFFF;
    border: 1px solid #9BBBE6;
    display: none;
    left: 50%;
    margin-left: -60px;
    padding: 10px 10px 10px 38px;
    position: absolute;
    top: 40%;
    z-index: 91000;
}
.l-grid-editor {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 999;
}
.l-grid-editor .l-checkbox-wrapper {
    margin-top: 2px;
}
.l-grid-popup table {
    border-collapse: separate;
    border-color: #808080;
    display: table;
    margin: 2px;
}
.l-grid-popup table tbody {
    border-color: inherit;
    display: table-row-group;
    vertical-align: middle;
}
.l-grid-popup table td {
    cursor: default;
    padding: 2px 3px;
}
.l-grid-popup td.l-column-left {
    border-right: 1px solid #CCCCCC;
}
.l-grid-popup td.l-column-right {
    border-left: 1px solid #FFFFFF;
    padding-right: 10px;
}
.l-grid-popup tr:hover .l-column-right, .l-grid-popup tr.l-popup-row-over .l-column-right {
    border-bottom: 1px solid #D2E3EC;
    border-right: 1px solid #D2E3EC;
    border-top: 1px solid #D2E3EC;
}
.l-grid-popup tr:hover .l-column-left, .l-grid-popup tr.l-popup-row-over .l-column-left {
    border-bottom: 1px solid #D2E3EC;
    border-left: 1px solid #D2E3EC;
    border-top: 1px solid #D2E3EC;
}
.l-grid-popup table tr:hover, .l-grid-popup table tr.l-popup-row-over {
    background: url("../images/grid/popup-row-over.gif") repeat-x scroll center top #D5EFFC;
    border: 1px solid #A8D8EB;
}
.l-grid-hd-cell-mul {
    border-bottom: 1px solid #A3C0E8;
}
.l-grid-hd-cell-detail {
    margin: 0;
    padding: 0;
}
.l-grid-hd-cell-inner {
    text-align: center;
}
.l-grid-dragging-line {
    background: none repeat scroll 0 0 #EC4262;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: 9999;
}
.l-grid-hd-cell-dropleft {
    background: url("../images/icon/icon-prev.gif") no-repeat scroll -2px center rgba(0, 0, 0, 0);
    display: none;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
    z-index: 3;
}
.l-grid-hd-cell-dropright {
    background: url("../images/icon/icon-next.gif") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    display: none;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    z-index: 3;
}
.l-grid-hd-cell-drop {
    cursor: e-resize;
    display: block;
    height: 24px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 2px;
    z-index: 3;
}
.l-grid-hd-cell-sort {
    overflow: hidden;
}
.l-grid-hd-cell-sort-asc {
    background: url("../images/icon/icon-sort-asc.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.l-grid-hd-cell-sort-desc {
    background: url("../images/icon/icon-sort-desc.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.l-grid-hd-cell-btn {
    border-left: 1px solid #C1D6F0;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.l-grid-hd-cell-btn span {
    background: url("../images/icon/icon-down.gif") no-repeat scroll 2px 8px rgba(0, 0, 0, 0);
    border-left: 1px solid #F1F5FC;
    display: block;
    height: 22px;
    width: 14px;
}
.l-grid-hd-cell-drophandle {
    cursor: col-resize;
    float: right;
    height: 22px;
    position: absolute;
    right: -3px;
    top: 0;
    width: 5px;
}
.l-grid-hd-cell-text {
    cursor: pointer;
    text-align: center;
}
.l-grid-hd-cell {
    border-right: 1px solid #A3C0E8;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.l-grid-hd-cell-last {
}
.l-grid-hd-cell-over, .l-grid-hd-cell-on {
}
.l-grid-row {
}
.l-grid-row-last {
}
.l-grid-totalsummary {
    background: none repeat scroll 0 0 #EEF3FF;
    border-bottom: 1px solid #A3C0E8;
    padding-bottom: 5px;
    padding-top: 5px;
}
.l-grid-totalsummary-nobottom {
    border-bottom: medium none;
}
.l-grid-totalsummary td {
    border-right: 1px solid #EEF3FF;
    line-height: 23px;
    text-align: center;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-last {
    border-right: 1px solid #A3C0E8;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-inner {
    margin-left: 3px;
    margin-right: 3px;
    min-height: 23px;
}
.l-grid-totalsummary .l-grid-totalsummary-cell-inner div {
    height: 22px;
    line-height: 22px;
}
.l-grid-detailpanel {
    border-bottom: 1px solid #A3C0E8;
    border-right: 1px solid #A3C0E8;
}
.l-grid-detailpanel-inner {
    margin-bottom: 2px;
    overflow: auto;
}
.l-grid-row-alt .l-grid-row-cell {
    background: none repeat scroll 0 0 #F5F5F5;
}
.l-grid-row-over .l-grid-row-cell, .l-grid-row-over {
    background: none repeat scroll 0 0 #E0ECFF;
}
.l-selected .l-grid-row-cell, .l-selected {
    background: none repeat scroll 0 0 #DCF8A8;
}
.l-grid-row-cell {
    border-bottom: 1px solid #A3C0E8;
    border-right: 1px solid #A3C0E8;
    overflow: hidden;
    text-align: center;
}
.l-grid-row-last .l-grid-row-cell {
    border-bottom: medium none;
}
.l-grid-row-cell-last {
}
.l-grid-row-cell-detail .l-grid-row-cell-inner {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 27px;
}
.l-grid-row-cell-detail .l-grid-row-cell-inner span {
    background: url("../images/grid/grid-detail-close.gif") no-repeat scroll 5px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 21px;
    overflow: hidden;
    width: 21px;
}
.l-grid-row-cell-detail .l-grid-row-cell-inner span.l-open {
    background: url("../images/grid/grid-detail-open.gif") no-repeat scroll 5px 5px rgba(0, 0, 0, 0);
}
.l-grid-row-cell-checkbox .l-grid-row-cell-inner {
    margin-left: 0;
    margin-right: 0;
}
.l-grid-row-cell-checkbox span, .l-grid-hd-cell-checkbox .l-grid-hd-cell-inner div {
    background: url("../images/controls/checkbox.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 13px;
    margin-left: 7px;
    margin-top: 3px;
    overflow: hidden;
    width: 13px;
}
.l-checked .l-grid-row-cell-checkbox span, .l-checked .l-grid-hd-cell-checkbox .l-grid-hd-cell-inner div {
    background-position: 0 -13px;
}
.l-selected .l-grid-row-cell-checkbox span, .l-selected .l-grid-hd-cell-checkbox .l-grid-hd-cell-inner div {
    background-position: 0 -13px;
}
.l-grid-hd-cell-checkbox {
    margin: 0;
    padding: 0;
}
.l-grid-row-cell-edited .l-grid-row-cell-inner {
    background-image: url("../images/icon/icon-edited.gif");
    background-position: 2px 2px;
    background-repeat: no-repeat;
}
.l-grid-row-cell-inner {
    line-height: 22px;
    margin-left: 3px;
    margin-right: 3px;
    min-height: 22px;
    overflow: hidden;
    text-align: center;
}
.l-grid-row-cell-inner-fixedheight {
    height: 22px;
}
.l-panel-bar {
    background: url("../images/panel/bar-bg.gif") repeat-x scroll left bottom #C9DFFF;
    border-top: 1px solid #84A0C4;
    height: 32px;
    overflow: hidden;
}
.l-panel-bbar-inner {
    margin-top: 3px;
    min-width: 530px;
    position: relative;
    width: 100%;
}
.l-bar-message {
    position: absolute;
    right: 0;
}
.l-bar-group {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 24px;
    margin: 0 5px;
}
.l-bar-right {
    float: right;
}
.l-bar-separator {
    border-left: 1px solid #9AC6FF;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 18px;
    margin: 2px;
}
.l-bar-button {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 22px;
    overflow: hidden;
    width: 22px;
}
.l-bar-button-over {
    background: url("../images/icon/bar-button-over.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.l-bar-button span {
    display: block;
    float: left;
    height: 16px;
    margin-left: 2px;
    margin-top: 2px;
    overflow: hidden;
    width: 16px;
}
.l-bar-btnfirst span {
    background: url("../images/icon/icon-first.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-btnprev span {
    background: url("../images/icon/icon-prev.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-btnnext span {
    background: url("../images/icon/icon-next.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-btnlast span {
    background: url("../images/icon/icon-last.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-btnload span {
    background: url("../images/icon/icon-load.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-btnloading span {
    background: url("../images/icon/icon-loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-bar-button .l-disabled {
    background-position: 0 -16px;
}
.l-bar-text {
    line-height: 20px;
}
.l-grid .l-grid-grouprow {
    border-right: 1px solid #A3C0E8;
}
.l-grid .l-grid-grouprow-cell {
    background: none repeat scroll 0 0 #EAF3FF;
    border-bottom: 1px solid #A3C0E8;
    padding: 6px;
}
.l-grid .l-grid-group-togglebtn {
    background: url("../images/grid/grid-detail-open.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
}
.l-grid .l-grid-group-togglebtn-close {
    background: url("../images/grid/grid-detail-close.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.l-grid .l-grid-totalsummary-group td {
    background-color: #F5EEFB;
    border-color: #F5EEFB;
}
.l-panel-bar-total {
    background: none repeat scroll 0 0 #F5F9FF;
    border-top: 1px solid #84A0C4;
    padding: 8px;
}
.l-grid-tree-space {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 18px;
}
.l-grid-tree-link-open {
    background: url("../images/grid/grid-tree-open.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
}
.l-grid-tree-link-close {
    background: url("../images/grid/grid-tree-close.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
}
.l-grid1 {
    display: none;
}
.l-grid1 .l-grid-body {
    overflow: hidden;
}
.l-grid1 .l-grid-detailpanel {
    border-right: 1px solid #FFFFFF;
}
.l-frozen .l-grid2 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.l-frozen .l-grid2 .l-grid-body {
    overflow-x: scroll;
}
.l-frozen .l-grid1 {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.l-grid-gray {
    border-top: 1px solid #DDDDDD;
}
.l-grid-gray .l-grid-header {
    background: url("../images/grid/header2-bg.jpg") repeat-x scroll left bottom #E2F0FF;
    border-bottom: 1px solid #DDDDDD;
}
.l-grid-gray .l-grid-hd-cell {
    border-right: 1px solid #DDDDDD;
}
.l-grid-gray .l-grid-row-cell {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.l-menubar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/panel/panel-menu.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #EFF7F7 #ADBED6 #ADBED6;
    border-image: none;
    border-right: 1px solid #ADBED6;
    border-style: solid;
    border-width: 1px;
    height: 24px;
}
.l-menubar-item {
    float: left;
    margin-left: 6px;
}
.l-menubar-item-down {
    background: url("../images/panel/panel-menu-item-down.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 4px;
    line-height: 4px;
    position: absolute;
    right: 4px;
    top: 9px;
    width: 7px;
}
.l-menubar-item-over {
}
.l-toolbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/panel/panel-toolbar.gif") repeat-x scroll 0 0 #CEDFEF;
    border-color: #EFF7F7 #9CBAE7 #9CBAE7;
    border-image: none;
    border-right: 1px solid #9CBAE7;
    border-style: solid;
    border-width: 1px;
    height: 23px;
}
.l-toolbar-item {
    float: left;
    margin-left: 4px;
}
.l-toolbar-item .l-icon, .l-toolbar-item img {
    display: block;
    left: 2px;
    position: absolute;
    top: 2px;
}
.l-toolbar-item img {
    border: 0 none;
    height: 16px;
    width: 16px;
}
.l-toolbar-item-hasicon {
    padding-left: 22px;
}
.l-panel-search {
    border-left: 1px solid #99BBE8;
    border-right: 1px solid #99BBE8;
    height: 28px;
    padding-left: 3px;
    padding-top: 3px;
}
.l-panel-search-item {
    float: left;
    margin-left: 5px;
}
.l-grid-row-cell-editing-topcell {
    border-bottom-color: #CC8F81;
}
.l-grid-row-cell-editing-leftcell {
    border-right-color: #CC8F81;
}
.l-grid-row-cell-editing {
    border-color: #CC8F81;
}
.l-grid-row-cell .l-text, .l-grid-editor .l-text {
    border: medium none;
}
.l-grid-detailpanel-edit {
    background-color: #FAFAFF;
    padding-bottom: 3px;
    padding-top: 7px;
}
.l-grid-detailpanel .l-editbox {
    float: left;
    margin: 2px 10px 2px 6px;
}
.l-grid-detailpanel .l-button {
    float: left;
    margin: 2px 6px 2px 4px;
}
.l-grid-detailpanel .l-clear {
    clear: both;
}
.l-grid-row-alt .l-grid-row-cell-rownumbers, .l-selected .l-grid-row-cell-rownumbers, .l-grid-row-over .l-grid-row-cell-rownumbers, .l-grid-row-cell-rownumbers {
    background: none repeat scroll 0 0 #E0ECFF;
}
